!!! strict
%html
  %head
    %title malkomalko
    %script{ src: '/public/vendor/jquery-1.4.2.min.js' }
    %script{ src: '/public/vendor/jquery-ui-1.8.1.custom.min.js' }
    %script{ src: '/public/vendor/jquery.layout-1.3.0.rc28k.js' }
    %script{ src: '/public/vendor/jquery.tmpl.js' }
    %script{ src: '/public/vendor/underscore-min.js' }
    %script{ src: '/public/vendor/uniform/jquery.uniform.min.js' }
    %script{ src: '/public/vendor/sammy/sammy-0.5.4.min.js' }
    %script{ src: '/public/vendor/sammy/plugins/sammy.json-0.5.4.min.js' }
    %script{ src: '/public/vendor/sammy/plugins/sammy.nested_params-0.5.4.min.js' }
    %script{ src: '/public/vendor/sammy/plugins/sammy.title-0.5.4.min.js' }
    %link{ rel: 'stylesheet', href: 'style.css' }
    %link{ rel: 'stylesheet', href: '/public/stylesheets/app.css' }
    %link{ rel: 'stylesheet', href: '/public/stylesheets/jquery-ui-1.8rc3.custom.css' }
    %link{ rel: 'stylesheet', href: '/public/stylesheets/uniform.default.css' }
  %body!= body
  %script{ src: '/public/vendor/app.js' }