%script#users_partial{type: "text/html"}
  :plain
    <div class="box">
      <h2>${first} ${last}</h2>
      <ul>
      {{each(i,like) likes}}
        <li>${like}</li>
      {{/each}}
      </ul>
    </div>